In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

clean_merge_csv = "../Resources/merged_data/clean_merge2.csv"

clean_merge_df = pd.read_csv(clean_merge_csv)
clean_merge_df.head()

,FIPS,Year,RegionName,State,Industry,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Pay,Avg_Price
0,1001,2009,Autauga County,AL,Federal Government,15,100,4476122,44873,144408.333333
1,1001,2009,Autauga County,AL,State Government,16,519,18717293,36093,144408.333333
2,1001,2009,Autauga County,AL,Local Government,32,1995,67539151,33857,144408.333333
3,1001,2009,Autauga County,AL,Goods-producing,159,1842,91335147,49580,144408.333333
4,1001,2009,Autauga County,AL,Natural resources and mining,23,197,5506289,28022,144408.333333